{% render 'partials/head.liquid', title: "homepage" %}

<body>
  <header>

      <h1>Homepage</h1>

</header>

  <ul class="menu-items">
    <li><a href="/">Home</a></li>
    <li><a href="/scrolldriven">Scroll Driven</a></li>
    <li><a href="/microinteractions">Micro Interactions</a></li>
  </ul>
</nav>

    </nav>
  </header>


  <script src="/scripts/index.js"></script>

  {% render 'partials/foot.liquid' %}
