{% render 'partials/header-scroll.liquid', title: "CSS Micro-interactions" %}
<link rel="stylesheet" href="/styles/style.css">

<main>

  <!-- INTRO -->
  <section class="intro">
    <h1>CSS Micro-interactions</h1>
    <p>
      This page explores how hover and focus-based CSS animations
      can improve usability and provide clear feedback without JavaScript.
    </p>
  </section>

  <!-- UNDERLINE DEMOS -->
  <section class="link-demos">
    <h2>Underline hover styles</h2>
    <p>Three variations of animated underline micro-interactions.</p>

    <ul class="link-list">
      <li>
        <a href="#" class="link link-slide">Slide in underline</a>
      </li>
      <li>
        <a href="#" class="link link-expand">Expand from center</a>
      </li>
      <li>
        <a href="#" class="link link-offset">Offset underline</a>
      </li>
    </ul>
  </section>


</main>
